
  <header>
    <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="header-left">
      <mat-icon class="header-icon" aria-hidden="false" aria-label="menu icon">menu</mat-icon>
      <span>サイトロゴ(img)</span>
    </div>
      <span class="spacer"></span>
      <div class="header-right">
      <mat-icon class="header-icon" aria-hidden="false" aria-label="Example delete icon">search</mat-icon>
    </div>
    </mat-toolbar-row>
  </mat-toolbar>
  </header>

<router-outlet></router-outlet>
